body {
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-image: linear-gradient(107.56deg, #ffffff -100%, #ff9544 25%, #007785 75%, #ffffff 200%);
  color: white;
  min-height: 100vh;
  -webkit-transition: background-position 1s;
  transition: background-position 1s;
  background-position: center;
  background-size: 400%;
}

.options-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.25);
  z-index: 90;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-animation: overlayAni 200ms ease 1 forwards;
          animation: overlayAni 200ms ease 1 forwards;
}

@-webkit-keyframes overlayAni {
  0% {
    background-color: rgba(0, 0, 0, 0);
  }
  100% {
    background-color: rgba(0, 0, 0, 0.25);
  }
}

@keyframes overlayAni {
  0% {
    background-color: rgba(0, 0, 0, 0);
  }
  100% {
    background-color: rgba(0, 0, 0, 0.25);
  }
}

.options-overlay .options {
  width: 500px;
  height: 350px;
  background-color: white;
  border-radius: 30px;
  color: #0396A6;
  padding: 20px;
  position: relative;
  z-index: 100;
  -webkit-box-shadow: 0px 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 0px 4px 4px rgba(0, 0, 0, 0.25);
  -webkit-animation: optionsAni 600ms ease 1 forwards;
          animation: optionsAni 600ms ease 1 forwards;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

@-webkit-keyframes optionsAni {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes optionsAni {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.options-overlay .options .options-option-title {
  font-size: 28px;
  margin-bottom: 0;
}

.options-overlay .options .options-row {
  width: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.options-overlay .options .options-row .units-label {
  width: 80px;
  margin-bottom: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10px;
}

.options-overlay .options .options-row .units-label:hover {
  cursor: pointer;
}

.options-overlay .options .range-number {
  margin-bottom: 10px;
}

.options-overlay .options .social-ul {
  list-style-type: none;
  padding-left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 300px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 0;
}

.options-overlay .options .social-ul .social-a i {
  font-size: 44px;
  color: #0396A6;
}

.options-overlay .options .options-title {
  font-size: 32px;
  position: absolute;
  top: 20px;
  left: 20px;
}

.options-overlay .options .options-button {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #0396A6;
  border: none;
  -webkit-box-shadow: 0px 0px 4px 2px #00000040;
          box-shadow: 0px 0px 4px 2px #00000040;
  color: white;
  font-size: 25px;
}

.options-overlay .err {
  background-color: white;
  border-radius: 30px;
  color: red;
  padding: 20px;
  position: relative;
  z-index: 100;
  -webkit-box-shadow: 0px 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 24px;
  height: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 10px;
  -webkit-animation: errAni 600ms ease 1 forwards;
          animation: errAni 600ms ease 1 forwards;
}

@-webkit-keyframes errAni {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes errAni {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.search-bar {
  height: 44px;
  width: 100%;
  position: fixed;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.search-bar .search-input {
  background: rgba(255, 255, 255, 0.9);
  -webkit-box-shadow: 0px 4px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 0px 0px 60px 60px;
  position: relative;
  top: -54px;
  width: 300px;
  text-align: center;
  border: none;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  -webkit-animation: inputAni 600ms ease 400ms 1 forwards;
          animation: inputAni 600ms ease 400ms 1 forwards;
}

.search-bar .search-input:focus {
  outline: none;
  -webkit-box-shadow: 0px 4px 4px 4px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 4px 4px 4px rgba(0, 0, 0, 0.5);
}

@-webkit-keyframes inputAni {
  100% {
    top: 0;
  }
}

@keyframes inputAni {
  100% {
    top: 0;
  }
}

.option-button {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 50px;
  height: 50px;
  border-radius: 10px;
  border: none;
  background-color: #FFF;
  color: #0396A6;
  font-size: 22px;
  -webkit-box-shadow: 0px 0px 4px 2px #00000040;
          box-shadow: 0px 0px 4px 2px #00000040;
  -webkit-transition: 1s ease;
  transition: 1s ease;
  display: none;
  z-index: 12;
}

.title-page {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0;
  -webkit-animation: titleAni 600ms ease 200ms 1 forwards;
          animation: titleAni 600ms ease 200ms 1 forwards;
}

.title-page .title {
  font-size: 44px;
  line-height: 52px;
  background: linear-gradient(92.63deg, #F26E22 0%, #073359 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
  margin-bottom: 0;
}

.title-page .author {
  font-size: 18px;
  line-height: 21px;
  color: #073359;
  font-weight: bold;
}

.title-page .author .author-link {
  color: #073359;
}

.title-page .author .author-link:hover {
  text-decoration: none;
}

@-webkit-keyframes titleAni {
  100% {
    opacity: 1;
  }
}

@keyframes titleAni {
  100% {
    opacity: 1;
  }
}

.main {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main .location {
  text-align: center;
  font-size: 22px;
  line-height: 26px;
  opacity: 0;
  -webkit-animation: mainAni 200ms ease 200ms 1 forwards;
          animation: mainAni 200ms ease 200ms 1 forwards;
}

.main .date {
  text-align: center;
  font-size: 22px;
  line-height: 26px;
  opacity: 0;
  -webkit-animation: mainAni 200ms ease 400ms 1 forwards;
          animation: mainAni 200ms ease 400ms 1 forwards;
}

.main .main-weather {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0;
  -webkit-animation: mainAni 200ms ease 600ms 1 forwards;
          animation: mainAni 200ms ease 600ms 1 forwards;
}

.main .main-weather .main-temp {
  font-size: 44px;
  line-height: 52px;
  text-align: center;
  margin-top: 16px;
}

.main .main-weather .main-icon {
  font-size: 44px;
}

.main .main-weather .main-ul {
  list-style-type: none;
  padding-left: 0;
  margin-top: 16px;
  margin-bottom: 0;
}

.main .main-weather .main-ul .main-li {
  font-size: 20px;
  line-height: 23px;
  margin-bottom: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 220px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main .main-weather .main-ul .main-li:last-child {
  margin-bottom: 0;
}

@-webkit-keyframes mainAni {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes mainAni {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.forecast {
  background: rgba(7, 51, 89, 0.3);
  -webkit-box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.25);
}

.forecast .forecast-item {
  width: 130px;
  height: 175px;
  margin: 20px auto;
  background: rgba(255, 255, 255, 0.9);
  -webkit-box-shadow: 0px 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
  color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.forecast .forecast-item .forecast-time {
  font-size: 20px;
  line-height: 23px;
  margin-bottom: 0;
  color: #909090;
}

.forecast .forecast-item .forecast-temp {
  font-size: 44px;
  line-height: 52px;
  margin-bottom: 0;
  background: linear-gradient(103.52deg, #F2A86E 0%, #0396A6 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.forecast .forecast-item img {
  -webkit-box-shadow: 0px 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  background: linear-gradient(103.52deg, #F2A86E 0%, #0396A6 100%);
  width: 72px;
}

.forecast .forecast-item img::before {
  position: absolute;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: red;
  content: 'xddssssssssssssssssssssssss';
  width: 100%;
  height: 100%;
  background-color: red;
}

@media (min-width: 420px) {
  .forecast .forecast-item {
    width: 150px;
    height: 200px;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}

@media (min-width: 576px) {
  .option-button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .title-page .title {
    font-size: 72px;
    line-height: 108px;
  }
  .title-page .author {
    font-size: 24px;
    line-height: 28px;
  }
  .main .primary-info {
    position: absolute;
    width: 100%;
    top: 10vh;
  }
  .main .primary-info .location {
    text-align: left;
    margin-left: 50px;
    font-size: 32px;
    line-height: 37px;
  }
  .main .primary-info .date {
    text-align: right;
    margin-right: 50px;
    font-size: 32px;
    line-height: 37px;
    -webkit-animation: mainAni 200ms ease 200ms 1 forwards;
            animation: mainAni 200ms ease 200ms 1 forwards;
  }
  .main .main-weather {
    -webkit-animation: mainAni 200ms ease 400ms 1 forwards;
            animation: mainAni 200ms ease 400ms 1 forwards;
  }
  .main .main-weather .main-temp {
    font-size: 72px;
    line-height: 84px;
  }
  .main .main-weather .main-icon {
    font-size: 100px;
  }
  .main .main-weather .main-ul {
    margin-top: 46px;
  }
  .main .main-weather .main-ul .main-li {
    font-size: 24px;
    line-height: 28px;
    width: 300px;
  }
  .forecast {
    background: rgba(7, 51, 89, 0.3);
    -webkit-box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.25);
            box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.25);
  }
  .forecast .forecast-item {
    width: 200px;
    height: 250px;
  }
  .forecast .forecast-item .forecast-time {
    font-size: 32px;
    line-height: 37px;
  }
  .forecast .forecast-item .forecast-temp {
    font-size: 64px;
    line-height: 75px;
  }
}

@media (min-width: 1200px) {
  .option-button:hover {
    background-color: #0396A6;
    color: #FFF;
  }
  .option-button:focus {
    outline-color: #0396A6;
  }
  .title-page .title {
    font-size: 72px;
    line-height: 108px;
  }
  .title-page .author {
    font-size: 24px;
    line-height: 28px;
  }
  .main .primary-info {
    position: absolute;
    width: 100%;
    top: 10vh;
  }
  .main .primary-info .location {
    text-align: left;
    margin-left: 50px;
    font-size: 32px;
    line-height: 37px;
  }
  .main .primary-info .date {
    text-align: right;
    margin-right: 50px;
    font-size: 32px;
    line-height: 37px;
    -webkit-animation: mainAni 200ms ease 200ms 1 forwards;
            animation: mainAni 200ms ease 200ms 1 forwards;
  }
  .main .main-weather {
    -webkit-animation: mainAni 200ms ease 400ms 1 forwards;
            animation: mainAni 200ms ease 400ms 1 forwards;
  }
  .main .main-weather .main-temp {
    font-size: 72px;
    line-height: 84px;
  }
  .main .main-weather .main-icon {
    font-size: 100px;
  }
  .main .main-weather .main-ul {
    margin-top: 46px;
  }
  .main .main-weather .main-ul .main-li {
    font-size: 24px;
    line-height: 28px;
    width: 300px;
  }
  .forecast {
    background: rgba(7, 51, 89, 0.3);
    -webkit-box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.25);
            box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.25);
  }
  .forecast .forecast-item {
    width: 170px;
    height: 250px;
  }
  .forecast .forecast-item .forecast-time {
    font-size: 24px;
    line-height: 37px;
  }
  .forecast .forecast-item .forecast-temp {
    font-size: 44px;
    line-height: 75px;
  }
  .options .options-button {
    -webkit-transition: 200ms ease;
    transition: 200ms ease;
  }
  .options .options-button:hover {
    background-color: #afafaf;
    color: #0396A6;
  }
  .options .social-a i {
    font-size: 44px;
    -webkit-transition: 200ms ease;
    transition: 200ms ease;
    color: #0396A6;
  }
  .options .social-a i:hover {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
    color: #0396A6;
  }
}

@media (max-height: 520px) {
  .main .primary-info .location, .main .primary-info .date {
    font-size: 22px;
  }
  .main .main-weather .main-temp {
    margin: 0;
  }
  .main .main-weather img {
    width: 75px;
  }
  .main .main-weather .main-ul {
    margin: 0;
  }
  .main .main-weather .main-ul .main-li {
    line-height: 14px;
    width: 300px;
  }
}
/*# sourceMappingURL=style.css.map */